<% content_for(:left_nav_bar) do %>
  <li><%= link_to 'Consultar orden', :read_xml%> </li>
  <li><%= link_to 'E-Commerce', :e_commerce%> </li>
  <li><%= link_to 'Documentacion api', :api_documentation %></li>
  <li><%= link_to 'Bodega', :bodega_status %></li>
  <li><%= link_to 'Fabrica', :fabrica %></li>
<% end %>
<% content_for(:right_nav_bar) do %>
  <li><%= link_to 'Actualizar ftp', :ftp_connection %></li>
  <li><%= link_to 'Despejar recepcion', :bodega_despejar_recepcion %></li>
<% end %>