
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<center><h1>Consulta de órdenes de compra</h1></center>
<script>
    $(function() {
    $("oc_list").hide();
    $("button").click(function(event) {
        event.preventDefault();
        $("oc_list").toggle();
    });
});
</script>
<style>
    .table_oc {
        color: white;
    }
</style>
<%= render 'nav_bar_content' %>
    <div class = "index">
    </br >
   <h2>Ingrese el ID de la Orden de Compra</h2>
   <%= form_tag("#", method: "get") do %>
    <%= label_tag(:q, "") %>
    
    Parámetro:  
    <%= text_field_tag(:q) %>
    Tipo: 
    <%= select_tag :opts, options_for_select(ocs, :selected => params[:opts]), :disabled => false %>
    </br >
    </br >
   Incluir búsqueda en el sistema de OC: 
   <%= radio_button_tag :get_order_oc, "OC" %>
   <%= submit_tag 'Enviar', class: 'btn btn-primary'%>
    <% end %>
    </br >
    </div>

    
    <% if @oc != 'not_found'%>
            <br><br>
            <% if @oc.empty? == false %>
                <div class = "query_oc">
                Resultado de búsqueda en XMLs
                <% @oc.each do |p| %>
                     <center> 
                        <table border="1">
                        <br>
                        <tr>
                        <td>Orden de Compra</td>
                        <td><%= p.xpath("//oc").to_s.partition('>').last.partition('<').first %></td>
                        </tr>  
                        <tr>
                        <td>Cliente</td>
                        <td><%= p.xpath("//cliente").to_s.partition('>').last.partition('<').first %></td>
                        </tr>
                        <tr>
                        <td>Proveedor</td>
                        <td><%= p.xpath("//proveedor").to_s.partition('>').last.partition('<').first %></td>
                        </tr>
                        <tr>
                        <td>SKU</td>
                        <td><%= p.xpath("//sku").to_s.partition('>').last.partition('<').first %></td>
                        </tr>
                        <tr>
                        <td>Fecha de Entrega</td>
                        <td><%= p.xpath("//fechaEntrega").to_s.partition('>').last.partition('<').first %></td>
                        </tr>
                        <tr>
                        <td>Fecha Pedido</td>
                        <td><%= p.child.xpath("//Pedido").attribute("fecha").to_s %></td>
                        </tr> 
                        <tr>
                        <td>Cantidad</td>
                        <td><%= p.xpath("//cantidad").to_s.partition('>').last.partition('<').first %></td>
                        </tr>
                        <tr>
                        <td>Precio Unitario</td>
                        <td><%= p.xpath("//precioUnitario").to_s.partition('>').last.partition('<').first %></td>
                        <tr>
                        <tr>
                        <td>Hora Pedido</td>
                        <td><%= p.child.xpath("//Pedido").attribute("hora").to_s %></td>
                        </tr>
                        </table>
                        <br>
                        </center>
        
    <% end %>
    </div>
    <% end %>
    <% end %>
    <% if @oc == 'not_found' %>
    <br>
        <div class = "query_oc"> 
        No encontrado en la BD de los XML
        </div>
    <% end %>        
            
            
            <% if @query != nil %>
                <br><div class="list-group ul-bodega" style="max-width:400px;margin:10px 60px;font-size:16px;display:inline-g">
                Resultado de consulta en Sistema OC
                <% if @query.empty? == false %>
                   <table border="1">
                        <br>
                        <tr>
                        <td>ID Orden de Compra</td>
                        <td><%= @query[0][stage = "_id"] %></td>
                        </tr>  
                        <tr>
                        <td>Fecha de creación</td>
                        <td><%= @query[0][stage = "created_at"] %></td>
                        </tr>
                        <tr>
                        <td>Fecha de actualización</td>
                        <td><%= @query[0][stage = "updated_at"] %></td>
                        </tr>
                        <tr>
                        <td>Notas</td>
                        <td><%= @query[0][stage = "notas"] %></td>
                        </tr>
                        <tr>
                        <td>Cliente</td>
                        <td><%= @query[0][stage = "cliente"] %></td>
                        </tr>
                        <tr>
                        <td>Proveedor</td>
                        <td><%= @query[0][stage = "proveedor"] %></td>
                        </tr>
                        <tr>   
                        <td>SKU</td>
                        <td><%= @query[0][stage = "sku"] %></td>
                        </tr>
                        <tr>
                        <td>Estado</td>
                        <td><%= @query[0][stage = "estado"] %></td>
                        </tr>
                        <tr>
                        <td>Fecha de despacho</td>
                        <td><%= @query[0][stage = "fechaDespacho"] %></td>
                        </tr>
                        <tr>
                        <td>Fecha de entrega</td>
                        <td><%= @query[0][stage = "fechaEntrega"] %></td>
                        </tr>
                        <tr>
                        <td>Precio unitario</td>
                        <td><%= @query[0][stage = "precioUnitario"] %></td>
                        </tr>
                        <tr>
                        <td>Cantidad despachada</td>
                        <td><%= @query[0][stage = "cantidadDespachada"] %></td>
                        </tr>
                        <tr>
                        <td>Cantidad</td>
                        <td><%= @query[0][stage = "cantidad"] %></td>
                        </tr>
                        <tr>
                        <td>Canal</td>
                        <td><%= @query[0][stage = "canal"] %></td>
                        </tr>
                        <tr>
                        <td>Rechazo</td>
                        <td><%= @query[0][stage = "rechazo"] %></td>
                        </tr>
                    
                        
                        </table>
                        <br>
                        </center>
   
            <% else %>
            No encontrado en el sistema de OC
            <% end %>
            <% end %>
           
    <div class='col-md-1'></div>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#costoservicios">Mostrar todas las Órdenes de Compra</button>
</div>



<oc_list>
    <div class = "query_oc">

            <% @xmls.each do |p| %>
                 <center> 
                    <table border="1">
                    <br>
                    <tr>
                    <td>Orden de Compra</td>
                    <td><%= p.xpath("//oc").to_s.partition('>').last.partition('<').first %></td>
                    </tr>  
                    <tr>
                    <td>Cliente</td>
                    <td><%= p.xpath("//cliente").to_s.partition('>').last.partition('<').first %></td>
                    </tr>
                    <tr>
                    <td>Proveedor</td>
                    <td><%= p.xpath("//proveedor").to_s.partition('>').last.partition('<').first %></td>
                    </tr>
                    <tr>
                    <td>SKU</td>
                    <td><%= p.xpath("//sku").to_s.partition('>').last.partition('<').first %></td>
                    </tr>
                    <tr>
                    <td>Fecha de Entrega</td>
                    <td><%= p.xpath("//fechaEntrega").to_s.partition('>').last.partition('<').first %></td>
                    </tr>
                    <tr>
                    <td>Fecha Pedido</td>
                     <td><%= p.child.xpath("//Pedido").attribute("fecha").to_s %></td>
                    </tr> 
                    <tr>
                    <td>Cantidad</td>
                    <td><%= p.xpath("//cantidad").to_s.partition('>').last.partition('<').first %></td>
                    </tr>
                    <tr>
                    <td>Precio Unitario</td>
                    <td><%= p.xpath("//precioUnitario").to_s.partition('>').last.partition('<').first %></td>
                    <tr>
                    <tr>
                    <td>Hora Pedido</td>
                     <td><%= p.child.xpath("//Pedido").attribute("hora").to_s %></td>
                    </tr>
                    </table>
                    <br>
                    </center>
            <% end %>
</div> 

</oclist>
<br><br><br><br>


