<div class="jumbotron">

    <div class="col-md-2"></div>
    <div class="col-md-6">
      <h2>Regístrate!</h2>
      <h3> Así podrás disfrutar de nuestros productos</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password, 'Contraseña' %>
        <% if @validatable %>
        <em>(Largo mínimo: <%= @minimum_password_length %> )</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'Confirmar contraseña' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Registrarme", class: 'btn btn-success' %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
    </div>
    
    <div class="col-md-4">
      <%= image_tag('productshomecow.gif') %>
    </div>

</div>

