<h3>Notificar factura emitida</h3>

<h4>Descripción: </h4> Avisar que una factura ha sido emitida<br>
<h4>Método: </h4> POST <br>
<h4>URL: </h4> $HOST/api/issued_invoice<br>
<h4>Headers: </h4>
authorization: string<br>
<h4>Parámetros: </h4>
invoice_id: integer<br>
<h4>Ejemplo:</h4>
<br>
<p class="developer_command">
curl -X POST http://integra7.ing.puc.cl/api/issued_invoice -H '"authorization: f90cf1bd6b5b7da270a2930d0ac8bbf8"' -d "invoice_id=12344"

</p>

<h4>Respuestas:</h4>
<br>
<p class="developer_command">
Si la factura es emitida:
Status code: 200
	{
		”invoice_id”:"1234"
	}

Si falta alguno de los parámetros:
Status code: 400
	{
		”description”:”Missing parameter”
	}
	   
Si Nombre de usuario o contraseña incorrectos: 
Status code: 401
	{
		“description”:”Authentication failed"
	}

</p>