<h3>Obtener token</h3>
<h4>Descripción: </h4>Permite obtener el token del grupo<br>
<h4>Método: </h4>GET <br>
<h4>URL: </h4> $HOST/api/get_token<br>
<h4>Parámetros: </h4>username: string , password: string<br>
<h4>Ejemplo:</h4>
<br>
<p class="developer_command">
curl -X GET http://integra7.ing.puc.cl/api/get_token -d "username=grupo7" -d "password=no_olvidare_la_contrasenha"

</p>

<h4>Respuestas:</h4>
<br>
<p class="developer_command">
Si todo está bien:
Status code: 200
	{
		"token":"f90cf1bd6b5b7da270a2930d0ac8bbf8"
	}

Si falta alguno de los parámetros:
Status code: 400
	{
		”description”:”Missing parameter”
	}
	   
Si el usuario no existe:
Status code: 404
	{
		”description”:”Group not found”
	}

Si la contraseña no corresponde:
Status code: 404
	{
		”description”:”Invalid password”
	}

</p>



