<h3>Orden de compra creada</h3>
<h4>Descripción: </h4>Avisa que se generó una orden de compra<br>
<h4>Método: </h4>POST <br>
<h4>URL: </h4> $HOST/api/create_order<br>
<h4>Headers: </h4>authorization: string<br>
<h4>Parámetros: </h4>order_id: integer<br>

<h4>Ejemplo:</h4>
<br>
<p class="developer_command">
curl -X POST http://integra7.ing.puc.cl/api/create_order -H '"authorization: f90cf1bd6b5b7da270a2930d0ac8bbf8"' -d "order_id=1234"

</p>

<h4>Respuestas:</h4>
<br>
<p class="developer_command">
Orden de compra creada:
Status code: 200
	{
		"order_id":"1234"
	}

Si falta alguno de los parámetros:
Status code: 400
	{
		”description”:”Missing parameter”
	}
	   
Si el token es inválido
	{
		“description”:”Authentication failed"
	}

</p>