<% content_for(:left_nav_bar) do %>
  <li><%= link_to 'Inicio', :e_commerce %> </li>
  <li><%= link_to "Carro de compras", :e_commerce_show_cart %> </li>



<% end %>
<% content_for(:right_nav_bar) do %>
  <!-- <li><%= link_to 'Actualizar ftp', :ftp_connection %></li> -->
  <!-- <li><%= link_to 'Despejar recepcion', :bodega_despejar_recepcion %></li> -->
  <!--<li><%= link_to 'Nuestra historia', :about_us%> </li>-->
  <!--<li><%= link_to 'Contáctanos', :contact%> </li>-->
  <!--<li><%= link_to 'Trabaja con nosotros', :work%> </li>-->
  <% if current_user %>
  <li><%= link_to 'Logout', :destroy_user_session, method: :delete, class: 'btn btn-default' %> </li>
  <% end -%>



<% end %>