<% product = locals[:product] %>
<% sku = locals[:sku] %>
<% categoría = locals[:categoria] %>
<% precio = Price.get_price(sku, DateTime.now).to_s %>
<div class="caption">
  <h2><%= product %></h2>
  <p>
    Categoría: <%= categoría %>
  </p>
  <p>
    Precio: $<%= precio %>
  </p>
  <p>
    <form class="form-inline" action="/e_commerce_add_product_to_cart" method="post">
      <div class="form-group">
        <label for="maiz">Cantidad</label>
        <input type="text" class="form-control" id="quantity" placeholder="Ingresar un número" name="quantity">
        <input type="hidden" id="sku_id" name="sku_id" value="<%= sku %>" />
        <input type="hidden" id="user_token" name="<%= request_forgery_protection_token.to_s %>" value="<%= form_authenticity_token %>" />
        <button type="submit" class="btn btn-default">Agregar al carrito <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>
      </div>
    </form>
  </p>
</div>