<%= render 'nav_bar_content' %>

<h1>Materias Primas</h1>

<div class="row">
  <div class='col-md-2'></div>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag('corn.jpg', size: "150x210") %>
      <%= render 'product', locals: { product: 'Maíz', categoria: 'Cereales y Legumbres' , sku: 3 } %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag('egg.png', size: "150x210") %>
      <%= render 'product', locals: { product: 'Huevo', categoria: 'Carnes y Huevos' , sku: 2 } %>
    </div>
  </div>

</div>

<h1>Productos procesados</h1>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag('whey.png', size: "200x250") %>
      <%= render 'product', locals: { product: 'Suero de Leche', categoria: 'Leches y Derivados' , sku: 41 } %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag('cheese.png', size: "200x250") %>
      <%= render 'product', locals: { product: 'Queso', categoria: 'Leches y Derivados' , sku: 40 } %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag('mantequilla.png', size: "180x250") %>
      <%= render 'product', locals: { product: 'Margarina', categoria: 'Aceites y Grasas' , sku: 11 } %>
    </div>
  </div>

</div>
<br><br><br>