<%= render 'nav_bar_content' %>


<!--<%= @cart if @cart%>-->
<!--<%= @line_items.each if @line_items %>-->
<h1>Carrito de Compras</h1>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>A pagar</th>
          <th></th>
        </tr>

        <% @line_items.each do |l| %>
          <% datos_sku = Fabrica.array_costo.select {|h| h[:sku] == l.sku_id.to_i }.first %>
          <tr>
            <td><%= datos_sku[:nombre] %></td>
            <td><%= l.quantity.to_s + ' ' + datos_sku[:unidad] %></td>
            <td><%= Price.get_price(l.sku_id, DateTime.now) %></td>
            <td><%= Price.get_price(l.sku_id, DateTime.now).to_i*l.quantity.to_i %></td>
            <td style="max-width:80px;"><%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar del carro'.html_safe,  e_commerce_delete_from_cart_path(li_id: l.id), class:"btn btn-default btn-xs" %>
            </td>
          </tr>
        <% end %>
      <tr>
        <th></th>
        <th></th>
        <th>TOTAL</th>
        <th><%= @total %></th>
     
        <th> <%= link_to 'Volver a tienda', :e_commerce, class: 'btn btn-warning' %></th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class='col-md-4'></div>
  <div class='col-md-4'>
    <%= form_tag 'e_commerce_pay' do%>
      <%= label_tag 'Dirección'%>
      <%= text_field_tag 'dir', nil ,required: true %>
      <%= submit_tag('Pagar',class: 'btn btn-success') %>
    <% end -%>
    </div>
    <div class="col-md-1 col-md-offset-8">
    </div>
</div>