<%= render 'nav_bar_content' %>
<div class="jumbotron">

  	<div class="col-md-2"></div>
  	<div class="col-md-6">
  		<h1>Los mejores lácteos de Australia, para tí</h1>
  		<p><a class="btn btn-primary btn-lg" href="#" role="button" style="margin-left:65px;background-color:#C9DE55;border-color:#C9DE55;">¡Quiero comprar YA!</a></p>
  	</div>
  	<div class="col-md-4">
  		<%= image_tag('productshomecow.gif') %>
  	</div>

</div>