<div class="jumbotron">

    <div class="col-md-2"></div>
    <div class="col-md-6">
      <h2>¿Olvidaste tu contraseña?</h2>
      <h3>Escribe tu mail y te diremos cómo recuperarla</h3>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "¡Mándenme las instrucciones por favor!", class: 'btn btn-success' %>
        <br>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
    </div>
    
    <div class="col-md-4">
      <%= image_tag('productshomecow.gif') %>
    </div>

</div>