<div class="jumbotron">

    <div class="col-md-2"></div>
    <div class="col-md-6">
    <h2>Ingresa</h2>
    <h3> Así podrás disfrutar de nuestros productos</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, 'Contraseña' %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'No cerrar sesión' %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Ingresar", class: 'btn btn-success'%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
 </div>
    
    <div class="col-md-4">
      <%= image_tag('productshomecow.gif') %>
    </div>

</div>
