<% bodega = locals[:bodega] %>
<% stock = locals[:stock] %>
<% name = locals[:name] %>

<div class="col-md-4">
  	<div class="list-group ul-bodega" style="max-width:400px;margin:10px 60px;font-size:16px;display:inline-g">
	  <div class="list-group-item">
	  	<b><%= name %></b>
	  </div>
	  <div class="list-group-item">
	  	Id almacén<span class="badge"><%= bodega.almacen_id %></span>
	  </div>
	  <div class="list-group-item">
	  	Espacio total<span class="badge"><%= bodega.totalSpace %></span>
	  </div>
	  <div class="list-group-item dropdown">
			  	<%=raw "<button data-target='#' id=dLabel_#{name} class='dropdown-toggle' aria-haspopup='true' data-toggle='dropdown' role='button' aria-expanded='false'>Espacio utilizado<span class='caret'></span></button>"%>
			  	<%=raw "<ul class='dropdown-menu' aria-labelledby='dLabel_#{name}' role='menu'>"%>
					<% stock.each do |r| %>
						<li><a href="#"><%= "SKU "+r["_id"].to_s+": " %><span class="badge"><%= r["total"].to_s %></span></a></li>
					<% end %>
			  	</ul>
	  <span class="badge"><%= bodega.usedSpace %></span>
	  </div>
	  <div class="list-group-item">
	  	Espacio disponible<span class="badge"><%= bodega.totalSpace - bodega.usedSpace %></span>
	  </div>
	</div>
</div>