Producir en fabrica
<%= form_tag '/producir', method: :post do %>
<%= label_tag 'sku', 'Sku'%>
<%= text_field_tag 'sku', nil ,placeholder: 'Ingresa sku'%>
<%= label_tag 'sku', 'Cantidad'%>
<%= text_field_tag 'cantidad', nil, placeholder: 'Ingresa cantidad'%>
</br ></br>
<%= submit_tag('Enviar orden', class: 'btn btn-success') %>
<% end -%>
