<% stock = locals[:all_stock]%>
<% origen = locals[:origen]%>
<% destino = locals[:destino]%>

<h1>Trasladar de Bodega</h1>
<form class="form-inline" style="margin: 0 80px" action="/bodega_status_refresh">
  <div class="form-group">
    <label for="origen">Bodega Origen</label>
    <select class="form-control" name="origen">
    <% i=1 %>
    <% origen.each do |o| %>
      <% if o.tipo == "general" %>
        <option id="origen" value="<%= o.almacen_id %>" ><%= o.tipo + " " + i.to_s %></option>
      <% i+= 1 %>
      <% else %>
        <option id="origen" value="<%= o.almacen_id %>"><%= o.tipo %></option>
      <% end %>
    <% end %>
    </select>
  </div>
  <div class="form-group">
    <label for="destino">Bodega Destino</label>
        <select class="form-control" name="destino">
    <% i=1 %>
    <% destino.each do |o| %>
      <% if o.tipo == "general" %>
        <option id="destino" value="<%= o.almacen_id %>"><%= o.tipo + " " + i.to_s %></option>
      <% i+= 1 %>
      <% else %>
        <option id="destino" value="<%= o.almacen_id %>"><%= o.tipo %></option>
      <% end %>
    <% end %>
    </select>
  </div>
<div class="form-group">
  <label for="sku">SKU</label>
        <select class="form-control" name="sku">
    <% i=1 %>
    <% stock.uniq{|x| x['_id']}.each do |o| %>
	    <option id="sku" ><%= o["_id"] %></option>
    <% end %>
    </select>
  </div>
  <div class="form-group">
  <label for="cantidad">Cantidad</label>
  <input type="text" class="form-control" id="cantidad" placeholder="Ingresar un número" name="cantidad">
  </div>
  <button type="submit" class="btn btn-default">Trasladar</button>


</form>