<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>
<%= render 'nav_bar_content' %>

<h1>Estado actual de las bodegas</h1>
<!-- Imprimimos la información de cada bodega-->
<div class="row">
  <%= render 'bodega', :locals => {bodega: @recepcion, stock: @stock_r, name: 'Recepción'} %>
  <%= render 'bodega', :locals => {bodega: @despacho, stock: @stock_d, name: 'Despacho'} %>
  <%= render 'bodega', :locals => {bodega: @pulmon, stock: @stock_p, name: 'Pulmón'} %>
</div>

<div class="row">
	<% i = 1 %>
	<% @general.each do |g| %>
     	<%= render 'bodega', :locals => {bodega: g, stock: Almacen.get_sku(g.almacen_id), name: 'General ' + i.to_s } %>
	 	<% i += 1 %>
	<% end %>

</div>

<!-- Imprimimos la información de cada bodega-->

  <%= render 'trasladar_productos_bodega', locals: { all_stock: @all_stock, origen: @origen, destino: @destino } %>
</br >

</br >