
<% content_for :for_head do %>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/javascripts/grouped-categories.js"></script>

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'areaspline'
        },
        title: {
            text: 'Nivel de servicio'
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 150,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        xAxis: {
            categories: [
                'Lunes',
                'Martes',
                'Miércoles',
                'Jueves',
                'Viernes',
                'Sábado',
                'Domingo'
            ],
            plotBands: [{ // visualize the weekend
                from: 4.5,
                to: 6.5,
                color: 'rgba(68, 170, 213, .2)'
            }]
        },
        yAxis: {
            title: {
                text: 'Cantidad de órdenes'
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' units'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            areaspline: {
                fillOpacity: 0.5
            }
        },
        series: [{
            name: 'Órdenes aceptadas',
            data: [2, 0, 2, 2, 5, 6, 4]
        }, {
            name: 'Órdenes rechazadas',
            data: [1, 2, 3, 2, 1, 4, 2]
        }]
    });
});
</script>

<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>

<script>
  $(function() {
    $( "#datepicker2" ).datepicker();
  });
</script>

<script type="text/javascript">
$(function () {
    $('#container2').highcharts({

        chart: {
            type: 'column'
        },

        title: {
            text: 'NS últimos 3 meses'
        },

        xAxis: {
            categories: ['Huevo', 'Maíz', 'Margarina', 'Queso', 'Suero']
        },

        yAxis: {
            allowDecimals: false,
            min: 0,
            title: {
                text: 'Número de órdenes'
            }
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '<br/>' +
                    'Total: ' + this.point.stackTotal;
            }
        },

        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },

        series: [{
            name: 'Aceptadas',
            data: [5, 3, 4, 7, 2],
            stack: 'male'
        }, {
            name: 'Rechazadas',
            data: [2, 5, 6, 2, 1],
            stack: 'female'
        }]
    });
});
</script>

<script text="javascript">
    $(function () {
    $('#container3').highcharts({
        title: {
            text: 'Tabla combinada'
        },
        xAxis: {
            categories: ['Huevo', 'Maíz', 'Margarina', 'Queso', 'Suero']
        },
        labels: {
            items: [{
                html: 'Ordenes totales',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{
            type: 'column',
            name: 'Aceptadas',
            data: [5, 3, 4, 7, 2]
        }, {
            type: 'column',
            name: 'Rechazadas',
            data: [2, 5, 6, 2, 1]
        }, {
            type: 'spline',
            name: 'Promedio',
            data: [3.5, 4, 5, 4.5, 1.5],
            marker: {
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[3],
                fillColor: 'white'
            }
        }, {
            type: 'pie',
            name: 'Total consumption',
            data: [{
                name: 'Aceptadas',
                y: 21,
                color: Highcharts.getOptions().colors[2] // John's color
            }, {
                name: 'Rechazadas',
                y: 16,
                color: Highcharts.getOptions().colors[1] // Joe's color
            }],
            center: [100, 80],
            size: 100,
            showInLegend: false,
            dataLabels: {
                enabled: false
            }
        }]
    });
});
</script>

<style>
    input {
        width: 80px;
    }
    container {
        margin-top: 50px;
        margin-bottom: 35px;
        width: 10000px;
    }
    .selection {
        border-radius: 15px;
        background: #8AC007;
        padding: 20px; 
        width: 350px;
        height: 150px; 

    }
    tr.spaceUnder > td
    {
      padding-bottom: 4em;
    }
</style>

<% end %>



<body>
<center>
<h1>Calidad del Servicio</h1>

<%= link_to "Volver al Menú", dashboards_menu_path, class:"btn btn-info" %>

<br>
<br>





<table>
<tr class="spaceUnder">
<td><div id="container" style="width:600px; height:300px;"></div></td>
</tr>
<tr>
<td><div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div></td>
<td><div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div></td>
</tr>
</table>
</center>
<br><br>

</body>



</html>