
<% content_for :for_head do %>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/javascripts/grouped-categories.js"></script>
<script type="text/javascript">

$(function () {
    $('#container2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Cantidad por Canal'
        },
        xAxis: {
            categories: [
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec',
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Ventas'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'B2B',
            data: [49, 71, 106, 129, 144, 176, 135, 148, 216, 194, 95, 54]

        }, {
            name: 'Internacional',
            data: [48.9, 38 , 39, 41, 47, 48, 59, 59, 52, 65, 59, 51]

        }, {
            name: 'B2C',
            data: [42, 33, 34, 39, 52, 75, 57, 60, 47, 39, 46, 51]

        }]
    });
});
</script>

<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>

<script>
  $(function() {
    $( "#datepicker2" ).datepicker();
  });
</script>

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        title: {
            text: 'Tendencia diaria de la venta por canal',
            x: -20 //center
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Ventas'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Internacional',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'B2B',
            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }, {
            name: 'B2C',
            data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
        }]
    });
});
    
</script>

<style>
input {
    width: 80px;
}
container {
    margin-top: 50px;
    margin-bottom: 35px;
    width: 10000px;
}
.selection {
    border-radius: 15px;
    background: #8AC007;
    padding: 20px; 
    width: 350px;
    height: 150px; 

}
tr.spaceUnder > td
{
  padding-bottom: 4em;
}
</style>


<% end %>



<body>
<center>
<h1>Cantidad de ventas</h1>

<%= link_to "Volver al Menú", dashboards_menu_path, class:"btn btn-info" %>

<br>
<br>





<table>
<tr class="spaceUnder">
<td><div id="container2" style="width:600px; height:300px;"></div></td>
</tr>
<tr>
<td colspan = "2"><div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div></td>
</tr>
</table>
</center>

<br><br>

</body>


</html>