<%= content_for :for_head do %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Distribución de costos totales por canal'
        },
        xAxis: {
            categories: ['B2B', 'B2C', 'Internacional']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Costos (M CLP)'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '<br/>' +
                    'Total: ' + this.point.stackTotal;
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        series: [{
            name: 'Huevo',
            data: [5, 3, 4]
        }, {
            name: 'Maíz',
            data: [2, 2, 3]
        }, {
            name: 'Margarina',
            data: [3, 2, 5]
        }, {
            name: 'Queso',
            data: [5, 7, 2]
        }, {
            name: 'Suero',
            data: [5, 4, 7]
        }]
    });
});
</script>


<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>

<script>
  $(function() {
    $( "#datepicker2" ).datepicker();
  });
</script>

<script type="text/javascript">
$(function () {
    $('#container2').highcharts({

    xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
            'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    },
    title: {
    text: 'Gastos Totales últimos 12 meses'
    },

    series: [{
        data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
        name: 'Gasto (M CLP)'
    }]

});
});
    
</script>

<script type="text/javascript">
    $(function () {

    // Radialize the colors
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

    // Build the chart
    $('#container3').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Distribución costos por almacén'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: "Brands",
            colorByPoint: true,
            data: [
                {name: "Recepción", y: 40},
                {
                    name: "Productos dañados",
                    y: 10,
                    sliced: true,
                    selected: true
                },
                {name: "Libre", y: 20},
                {name: "Despacho", y: 20},
                {name: "Devoluciones", y: 10}
            ]
        }]
    });
});
</script>

<style>
input {
    width: 80px;
}
container {
    margin-top: 50px;
    margin-bottom: 35px;
    width: 10000px;
}
.selection {
    border-radius: 15px;
    background: #8AC007;
    padding: 20px; 
    width: 80%;
    height: 150px; 

}
tr.spaceUnder > td
{
  padding-bottom: 4em;
}
</style>

<% end -%>

<body>
<center>
<h1>Costos de venta</h1>
<%= link_to "Volver al Menú", dashboards_menu_path, class:"btn btn-info" %>

<br>
<br>

<table>
<tr class="spaceUnder">
<td><div id="container" style="width:600px; height:300px;"></div></td>
</tr>
<tr>
<td><div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div></td>
<td><div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div></td>
</tr>
</table>
</center>

<br><br>

</body>


</html>