<%= render 'nav_bar_content' %>

<h1>Reportes de Desempeño</h1>

<div class="row">
	<div class="col-md-3 col-md-offset-1">
		<div class="panel panel-success">
			<div class="panel panel-heading">
				<h3 class="panel-title"><%= link_to 'Ventas', admin_reportes_path %></h3>
			</div>
			<div class="panel panel-body">
				<p>Facturación por periodo</p>
				<p>Ingreso trimestral por sku</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-info">
			<div class="panel panel-heading">
				<h3 class="panel-title"><%= link_to 'Calidad de Servicio', admin_calidad_servicio_path %></h3>
			</div>
			<div class="panel panel-body">
				<p>Nivel de servicio por periodo</p>
				<p>Nivel de servicio acumulado últimos tres meses</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-warning">
			<div class="panel panel-heading">
				<h3 class="panel-title"><%= link_to 'Ventas por canal', admin_cantidad_ventas_path %></h3>
			</div>
			<div class="panel panel-body">
				<p>Cantidad de Ventas promedio mensual</p>
				<p>Tendencia diaria de ventas por canal</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-md-offset-3">
		<div class="panel panel-danger">
			<div class="panel panel-heading">
				<h3 class="panel-title"><%= link_to 'Costos de Venta', admin_costos_path %></h3>
			</div>
			<div class="panel panel-body">
				<p>Distribución de costos por canal</p>
				<p>Gastos totales últimos 12 neses</p>
				<p>Distribución de costos por almacén</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-success">
			<div class="panel panel-heading">
				<h3 class="panel-title"><%= link_to 'Montos facturados', admin_montos_facturados_path %></h3>
			</div>
			<div class="panel panel-body">
				<p>Principales cifras</p>
				<p>Market Share</p>
			</div>
		</div>
	</div>
</div>

