<%= render 'nav_bar_content' %>
<h1>Fabrica</h1>

<%= flash.now[:alert] %>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-6">
    <table class="table">
      <th>Sku</th>
      <th>Cantidad</th>
      <th>Fecha despacho</th>
      <% @pedido.each do |ped| %>
        <tr>
          <td><%= ped.sku%></td>
          <td><%= ped.cantidad%></td>
          <td><%= ped.fecha_despacho%></td>
        </tr>
      <% end -%>
    </table>
  </div>
  <div class='col-md-5'>
    <%= render 'form_producir' %>
  </div>
</div>
