<%= render 'nav_bar_content' %>
<!DOCTYPE html>
<html lang="en">


<%= content_for :for_head do %>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/javascripts/grouped-categories.js"></script>

<% end -%>
<body>
<center><h1>Generador de pedidos a Proveedores</h1>

<div class="panel panel-success" style="width: 60%;">
  <div class="panel-heading">Ingrese los siguientes parámetros para efectuar el pedido</div>
  <div class="panel-body">
  <ul class="list-group">   
    <%= form_tag 'generar_pedido', method: :post, class: 'form-horizontal' do %>
  <ul class="list-group">
  <li class="list-group-item">
  <div class="form-group">
    <label for="number" class="col-sm-5 control-label">Sku</label>

    <div class="col-sm-2">
      <%= text_field_tag 'sku', nil ,class: 'form-control'%>
    </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="form-group">
    <label for="number" class="col-sm-5 control-label">Cantidad</label>
    <div class="col-sm-2">
      <%= text_field_tag 'cantidad', nil, class: 'form-control'%>
    </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="form-group">
    <label for="date" class="col-sm-5 control-label">Fecha de Entrega</label>
    <div class="col-sm-2">
      <%= date_field_tag 'fecha_entrega', 'Fecha de entrega',  class: 'form-control'%>

    </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="form-group">

      <label for="text" class="col-sm-5 control-label">Grupo Proveedor</label>
      <div class="col-sm-2">
      <%= number_field_tag 'proveedor', nil , class: 'form-control'%>
        
      </select>
      </div>
    </div>
    </li>
    <li class="list-group-item">
  <div class="form-group">
      <%= submit_tag 'Enviar', class: 'btn btn-primary' %>
  </div>
  </li>
  <% end -%>
</form>
    </div> 
</div>


</center>
</body>
</html>