<%= render 'nav_bar_content' %>

<div class="jumbotron">

  	<div class="col-md-2"></div>
  	<div class="col-md-6">
  		<h1>Los mejores lácteos de Australia, para tí</h1>
  		<p><%= link_to '¡Quiero comprar YA!', :e_commerce, class: 'btn btn-primary btn-lg main-btn' %></p>
  	</div>
  	<div class="col-md-4">
  		<%= image_tag('productshomecow.gif') %>
  	</div>

</div>