<% content_for :for_head do %>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/javascripts/grouped-categories.js"></script>

<script type="text/javascript">
$(function () {
    // Create the chart
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Market share en B2B'
        },
        subtitle: {
            text: 'Basado en cantidad de órdenes entre grupos'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Porcentaje total market share'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: "Brands",
            colorByPoint: true,
            data: [{
                name: "Grupo 1",
                y: 7.33
            }, {
                name: "Grupo 2",
                y: 14.030000000000005
            }, {
                name: "Grupo 3",
                y: 11.38
            }, {
                name: "Grupo 4",
                y: 21.77
            }, {
                name: "Grupo 5",
                y: 7.9100000000000001
            }, {
                name: "Grupo 6",
                y: 11.2,
                drilldown: null
            }, {
                name: "Grupo 7",
                y: 19.2,
                drilldown: null
            }, {
                name: "Grupo 8",
                y: 7.2,
                drilldown: null
            }]
        }]
    });
});
</script>

<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>

<script>
  $(function() {
    $( "#datepicker2" ).datepicker();
  });
</script>

<script type="text/javascript">
$(function () {
    $('#container2').highcharts({

    xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
            'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    },
    title: {
    text: 'Facturado últimos 12 meses'
    },

    series: [{
        data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
    }]

});
});
    
</script>

<script type="text/javascript">
    $(function () {

    // Radialize the colors
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

    // Build the chart
    $('#container3').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Distribución costos por almacén'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: "Brands",
            colorByPoint: true,
            data: [
                {name: "Recepción", y: 40},
                {
                    name: "Productos dañados",
                    y: 10,
                    sliced: true,
                    selected: true
                },
                {name: "Libre", y: 20},
                {name: "Despacho", y: 20},
                {name: "Devoluciones", y: 10}
            ]
        }]
    });
});
</script>

<style>
input {
    width: 80px;
}
container {
    margin-top: 50px;
    margin-bottom: 35px;
    width: 10000px;
}
.selection {
    border-radius: 15px;
    background: #8AC007;
    padding: 20px; 
    width: 80%;
    height: 150px; 

}
.frame_1 {
    width: 250px;
    height: 50px;
    background: green;
    color: white;
    margin-top: 50px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 120%;
    border-radius: 15px;

}
.frame_2 {
    width: 250px;
    height: 50px;
    background: red;
    color: white;
    margin-top: 50px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 120%;
    border-radius: 15px;
}
.frame_3 {
    width: 250px;
    height: 50px;
    background: grey;
    color: white;
    margin-top: 50px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 120%;
    border-radius: 15px;
}
.frame_4 {
    width: 250px;
    height: 50px;
    background: blue;
    color: white;
    margin-top: 50px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 120%;
    border-radius: 15px;
}
.frame_5 {
    width: 250px;
    height: 50px;
    color: black;
    margin-top: 50px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 120%;
}
tr.spaceUnder > td
{
  padding-bottom: 4em;
}
</style>

<% end %>


<body>
<center>
<h1>Montos facturados</h1>


<%= link_to "Volver al Menú", dashboards_menu_path, class:"btn btn-info" %>

<br>
<br>

<center>
<table frame = "box">
    <tr>
        <td class="frame_5">$ 6.993.108</td>
        <td class="frame_5">$ 4.609.412</td>
        <td class="frame_5">36</td>
        <td class="frame_5">$ 1.980.123</td>
        <td class="frame_5">$ <%= 6993108 - 4609412 - 1980123 %></td>
    </tr>
    <tr>
        <td class="frame_1">Pagos recibidos</td>
        <td class="frame_2">Pagos realizados</td>
        <td class="frame_3">Órdenes realizadas</td>
        <td class="frame_4">Total de gastos</td>
        <td class="frame_1">Utilidades</td>
    </tr>
    
</table>
<br><br>
<table>
    <tr>
        <td><div id="container" style="min-width: 610px; height: 400px; margin: 0 auto"></div></td>
    </tr>
</table>
</center>
</center>


<br>
<br>    

</body>


</html>