<%= render 'nav_bar_content' %>

<h1>Producir en fabrica</h1>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-4">
		<h4><%= 'Saldo: ' + @saldo %></h4>
	</div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-6">

	<%= render 'form_producir' %>
	</div>
  
</div>