<%= content_for :for_head do %>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">

var months = ['<%= @array_meses[0] %>','<%= @array_meses[1] %>','<%= @array_meses[2] %>','<%= @array_meses[3] %>','<%= @array_meses[4] %>','<%= @array_meses[5] %>','<%= @array_meses[6] %>','<%= @array_meses[7] %>','<%= @array_meses[8] %>','<%= @array_meses[9] %>','<%= @array_meses[10] %>','<%= @array_meses[11] %>','<%= @array_meses[12] %>'];
var sales = [parseInt('<%= @array_datos[0] %>'),parseInt('<%= @array_datos[1] %>'),parseInt('<%= @array_datos[2] %>'),parseInt('<%= @array_datos[3] %>'),parseInt('<%= @array_datos[4] %>'),parseInt('<%= @array_datos[5] %>'),parseInt('<%= @array_datos[6] %>'),parseInt('<%= @array_datos[7] %>'),parseInt('<%= @array_datos[8] %>'),parseInt('<%= @array_datos[9] %>'),parseInt('<%= @array_datos[10] %>'),parseInt('<%= @array_datos[11] %>'),parseInt('<%= @array_datos[12] %>')];

 $(function () {
    $('#container').highcharts({

    xAxis: {
        categories: months
    },
    title: {
    text: 'Facturado últimos 12 meses'
    },

    series: [{ 
        data: sales,
        name: 'Ingresos'
    }]

});
});
</script>

<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>

<script>
  $(function() {
    $( "#datepicker2" ).datepicker();
  });
</script>

<script type="text/javascript">
$(function () {
    $('#container2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Ingreso trimestral por sku'
        },
        xAxis: {
            categories: ['Q1', 'Q2', 'Q3', 'Q4']
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Huevo',
            data: ['<%= @sku_data["2"][0] %>', '<%= @sku_data["2"][1] %>', '<%= @sku_data["2"][2] %>', '<%= @sku_data["2"][3] %>']
        }, {
            name: 'Maíz',
            data: ['<%= @sku_data["3"][0] %>', '<%= @sku_data["3"][1] %>', '<%= @sku_data["3"][2] %>', '<%= @sku_data["3"][3] %>']
        }, {
            name: 'Margarina',
            data: ['<%= @sku_data["11"][0] %>', '<%= @sku_data["11"][1] %>', '<%= @sku_data["11"][2] %>', '<%= @sku_data["11"][3] %>']
        }, {
            name: 'Queso',
            data: ['<%= @sku_data["40"][0] %>', '<%= @sku_data["40"][1] %>', '<%= @sku_data["40"][2] %>', '<%= @sku_data["40"][3] %>']
        }, {
            name: 'Suero',
            data: ['<%= @sku_data["41"][0] %>', '<%= @sku_data["41"][1] %>', '<%= @sku_data["41"][2] %>', '<%= @sku_data["41"][3] %>']
        }]
    });
});
    
</script>

<style>
input {
    width: 80px;
}
container {
    margin-top: 50px;
    margin-bottom: 35px;
    width: 10000px;
}
.selection {
    border-radius: 15px;
    background: #8AC007;
    padding: 20px; 
    width: 350px;
    height: 150px; 

}
tr.spaceUnder > td
{
  padding-bottom: 4em;
}
</style>



<% end -%>

<body>
<center>
<h1>Ventas</h1>

<%= link_to "Volver al Menú", dashboards_menu_path, class:"btn btn-info" %>

<br>
<br>




<table>
<tr class="spaceUnder">
<td><div id="container" style="width:600px; height:300px;"></div></td>
<td></td>
</tr>
<tr>
<td colspan = "2"><div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div></td>
</tr>
</table>
</center>

<br><br>
</body>

