<div style="color:white">
<%= 'create order' + @create_order.code.to_s + ' --> ' + @create_order.parsed_response.to_s %>
</br >	
</br >

<%= 'get order' + @get_order.code.to_s + ' --> ' + @get_order.parsed_response.to_s %>
</br >	
</br >

<%= 'accept ' + @accept_order.code.to_s + ' --> ' + @accept_order.parsed_response.to_s %>
</br >	
</br >	

<%= 'emitir' + @emitir_invoice.code.to_s + ' --> ' + @emitir_invoice.parsed_response.to_s %>
</br >	
</br >

<%= 'get invoice ' + @get_invoice.code.to_s + '-->' + @get_invoice.parsed_response.to_s %>
</br >	
</br >

<%= 'transaccion ' + @transaction.code.to_s + '-->' + @transaction.parsed_response.to_s %>
</br >	
</br >

<%= if @get_transaction
	'get transaccion ' + @get_transaction.code.to_s + '-->' + @get_transaction.parsed_response.to_s 
	end%>
</br >	
</br >

<%='Pagar factura ' + @pagar_factura.code.to_s + ' --> ' + @pagar_factura.parsed_response.to_s%>
</br >	
</br >

<%='Cartola ' + @cartola.code.to_s + ' --> ' + @cartola.parsed_response.to_s%>
</br >	
</br >

<%='Saldo ' + @saldo.code.to_s + ' --> ' + @saldo.parsed_response.to_s %>
</br >	
</br >

<%='Orden 2 ' + @order2.code.to_s + ' --> ' + @order2.parsed_response.to_s %>
</br >	
</br >

<%='Invoice 2 ' + @invoice2.code.to_s + ' --> ' + @invoice2.parsed_response.to_s %>
</br >	
</br >

<%='Orden 3 ' + @order3.code.to_s + ' --> ' + @order3.parsed_response.to_s %>
</br >	
</br >

<%='Invoice 3 ' + @invoice3.code.to_s + ' --> ' + @invoice3.parsed_response.to_s %>
</br >	
</br >
</div>