/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets'
@import 'bootstrap'
@import url('http://fonts.googleapis.com/css?family=Open+Sans')

//Colores naranjos
//$background-primary-color: #BB6030
$background-primary-color: #eee
$title-primary-color: #BB6030
$text-primary-color: #421F0C


// Colores verdes
$success-background: #207c60
$success-background-active: #60a992
$success-color: #004732

// Colores azules
$notification-color: #052446
$notification-background: #3f648c

*
  font-family: 'Open Sans'
html
  height: 100%

body
  background: $background-primary-color !important
  color: $text-primary-color
  font-family: arial, sans-serif
  font-size: 15px !important
  height: 100%
  line-height: 18px
  h1, h2, h3, h4, h5, h6
    color: $title-primary-color

.row
  margin-left: 0px !important
  margin-right: 0px !important

#banner
  min-width: 800px
  max-width: 1000px
  margin: 0 auto
  height: 180px
  padding: 0px 0px 0px 0px
  display: flex
  width: 100%

#body
  //border-radius: 0px
  margin: 40px auto 40px auto
  min-width: 800px
  min-height: 500px
  display: flex


.metro div, .metro span, .metro p 
  font-weight: normal
  font-style: normal

.jumbotron
  background: #ACEBAE !important
  color: $success-color
  margin-bottom: 0 !important
  min-height: 588px
  h1:
    color: $success-color !important

.jumbotron img
  margin-bottom: -48px
  height: 540px


#content 
  padding: 0em 20px 0em 20px
  color: #000
  font-size: 16px



.notice, #notice 
  display: block
  color: white
  opacity: 0.7
  background: $success-background
  padding-left: 20px
  padding: 10px

.alert
  display: block
  color: white
  opacity: 0.7
  background: $notification-background
  padding-left: 20px
  paddind: 10px
  
h1 
  padding: 30px 60px


.metro p 
  margin: 0 0 7pt
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif
  font-weight: normal
  font-style: normal
  font-size: 11pt
  line-height: 18pt
  letter-spacing: 0.02em


.metro h3 
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif
  letter-spacing: 0.01em
  color: rgba(0, 0, 0, 0.6)
  font-size: 2.2rem
  line-height: 2.2rem
  font-weight: bold
  padding: 0
  margin: 30px 0


.metro h4 
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif
  font-weight: bold
  color: #000000
  font-size: 1.6rem
  line-height: 3rem
  letter-spacing: 0.02em
  padding: 10px 0
  margin: 10px 0
  display: inline


.metro span 
  font-family: Arial, Helvetica, sans-serif
  font-weight: normal
  font-style: normal


.curl 
  color: #C1413C


.url 
  color: #346291


.user_complete 
  color: #349034


#body #main_content 
  min-width: 600px
  float: left
  display: inline-block
  padding: 20px 50px
  color: #000	
  flex: 1


.developer_command, .resume 
  border: 1px
  width: 98%
  padding: 0px 20px
  margin: 0 auto
  border-radius: 10px
  border-style: dashed
  border-color: green
  background-color: #DBD9A7
  border-collapse: separate
  font-family: monospace
  white-space: pre


.ul-bodega 
  display: inline-grid
  list-style-type: disc
  -webkit-margin-before: 1em
  -webkit-margin-after: 1em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  -webkit-padding-start: 40px

.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -250px

.footer, .push
  height: 250px
  clear: both

.footer
  background-color: #354242

.footer p
  font-size: 16px
  color: lightgoldenrodyellow !important
  font-family: 'Open Sans'

.navbar
  min-height: 70px !important
  margin-bottom: 0 !important
  padding: 10px !important

  ul
    font-size: 15px

.navbar-default
  background-color: white !important

.navbar-brand
  color: black !important
  font-family: monospace

.description p
  font-size: 18px
  font-family: 'Open Sans'

.description .right_div
  float: right

.main-btn
  margin-left: 65px
  background-color: #C9DE55
  border-color: #C9DE55
  color: lightgoldenrodyellow !important

.panel .panel-body
  padding: 15px 15px 0 15px !important


.panel .panel-body p
  font-size: 15px
  font-family: 'Open Sans'

.panel .panel-heading
  margin-bottom: 0 !important