body {
  font-family: sans-serif;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #CCCCFF;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.index {
  background-color: #CCCCFF;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  
}
  


.query_oc {
    background-color: #fff;
    padding-left: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0 auto;
    width: 45%;
    height: 100%;
    box-shadow: 0 0 5px 5px #000;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.index {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  padding-left: 50px;
}


.query_oc {
    background-color: #fff;
    padding-left: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0 auto;
    width: 45%;
    height: 100%;
    box-shadow: 0 0 5px 5px #000;
}



#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
