<% notice = locals[:notice] %>
<% alert = locals[:alert] %>
<% if notice %>
<p class="notice"><button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button><%= notice%></p>
<% end -%>
<% if alert %>
<p class="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button><%= alert %></p>
<% end -%>