<nav class='navbar navbar-default'>
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "IntegraLácteos", admin_path, class: "navbar-brand" %>
    </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= yield(:left_nav_bar) %>
      </ul>
   
    <ul class="nav navbar-nav navbar-right">
        <%= yield(:right_nav_bar) %>
    </ul>
    </div>
</nav>