<!DOCTYPE html>
<html>

<head>
  <title>Integra Lácteos 7 | TdI 2015</title>

  <% if content_for? :for_head %>
    <%= yield :for_head %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% else %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    	<!-- Optional theme -->
    	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <% end %>


</head>


<body>

<div class="wrapper">
  <%= render 'layouts/nav' %>
  <%= render 'nav_bar_content' %>

  <%= render 'layouts/alerts', locals: { notice: notice, alert: alert } %>

  <%= yield %>

  <div class="push"></div>

</div>
<div class="footer">
  <div style="padding: 35px">
    <div class="col-md-2">
      <%= link_to "IntegraLácteos", root_path, class: "navbar-brand" %>
    </div>
    <div class="col-md-3">
      <p>UBICACIÓN</p>
      <br>
      <p>10 Culgoa CircuitO'Malley,</p>
      <p>Australia</p>
    </div>
    <div class="col-md-3">
      <p>NUESTROS PRODUCTOS</p>
      <br>
      <p>Queso</p>
      <p>Suero de Leche</p>
      <p>Margarina</p>
      <p>Huevo</p>
      <p>Maíz</p>
    </div>
    <div class="col-md-3">
      <p>CONTÁCTANOS</p>
      <br>
      <p>contacto@integralacteos.com</p>
      <p>Call Center: 600 365 365</p>
      <p>Desde celulares: (09) 9 876 54 32</p>
    </div>

  </div>
</div>


</body>


</html>
